.feedback {
    background-color : #32cf78;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #terminar {
    position: fixed;
    bottom: -4px;
    left: 10px;
  }
  .feedback {
    background-color : #32cf78;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #volver {
    position: fixed;
    bottom: -4px;
    right: 10px;
    
  }
  