#image{
	width: 90vw;
	margin: 0 auto;	
}
#ruleta {
    text-align: center;  
  }

  .rotate {
	transition: transform 2s  ;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
  background-color:#32cf78!important ;
}


.swal2-container{

  
}
.swal2-title{
  color:white!important;
  padding:0px!important;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: bold!important;
}



#centroRuleta{
  width: 23vw;
  position:absolute;
  top:38vh;
  left:38.5vw;
  z-index: 2;

}
