#image{
	width: 70vw;
	margin: 0 auto;	
}
#ruleta {
    text-align: center;  
  }

  .rotate {
	transition: transform 2s  ;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
  background-color:#32cf78!important ;
}

div:where(.swal2-container) h2:where(.swal2-title){
  color:white!important;
  font-family: 'Montserrat', sans-serif!important;font-weight: bold!important;
}